{% extends 'layout.jinja' %}
{% from 'macros.jinja' import with_errors %}

{% block title %}Restricted Area{% endblock %}
{% block content %}
<form class=form-horizontal action="{{ url_for('game', next=request.args.get('next')) }}" method=post>
  {{ form.hidden_tag() }}
  {{ with_errors(form.teamA_result, placeholder='0') }}
  {{ with_errors(form.teamB_result, placeholder='0') }}
  
  <div class=control-group>
    <label class="control-label">Team player</label>
    <div class=controls>
	  <table class="table table-bordered table-striped">
	    <thead>
	  		<tr><th>&nbsp;</th><th>TEAM A</th><th>TEAM B</th><th>&nbsp;</th></tr>
	  	</thead>
	  	<tbody>
	  	<tr><td>backend</td><td>{{ form.teamA_backend }}</td><td>{{ form.teamB_frontend }}</td><td>frontend</td></tr>
	  	<tr><td>frontend</td><td>{{ form.teamA_frontend }}</td><td>{{ form.teamB_backend }}</td><td>backend</td></tr>
	  	</tbody>
	  </table>
    </div>
  </div>
  <div class=control-group>
    <div class=controls>
      <button type=submit class="btn btn-primary">New</button>
    </div>
  </div>
</form>
{% endblock %}
